
.TrelloHeader{
  height: 80px;
  color:white;
  background-color: purple;
  position: relative;
}
.TrelloTitle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin:0;
}
